{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    {% block title %}
    
    {% endblock title %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <style>
    .gallery { display: flex; gap: 10px; flex-wrap: wrap; }
    .thumb { cursor: pointer; transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s; }
    .thumb:hover { transform: scale(1.05); }

    .modal {
      display: none; 
      position: fixed; 
      top:50%; left:50%; 
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,0.8); 
      padding: 27px;
      border-radius: 16px;
      max-width: 70%;
      max-height: 70%;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
    }
    .modal-content { max-width: 100%; max-height: 60vh; margin-bottom: 10px; }
    #close { position: absolute; top:10px; right:15px; color:white; font-size:25px; cursor:pointer; }
    #modal-controls button { margin: 0 5px; padding: 5px 10px; cursor: pointer; }
  </style>
</head>



<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="{{ developer.profile_picture.url }}" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="#" class="logo d-flex align-items-center justify-content-center">
      <h1 class="sitename">{{ developer.full_name }}</h1>
    </a>

    <div class="social-links text-center">
      <a href="{{ developer.twitter_link }}" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="{{ developer.github_link }}" class="github"><i class="bi bi-github"></i></a>
      <a href="{{ developer.instagram_link }}" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="{{ developer.lnkedin_link }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li>
          <a href="/" class="{% if '/' == request.path %} active {% endif %}">
            <i class="bi bi-house navicon"></i>
            Home
          </a>
        </li>
        <li>
          <a href="{% url 'blog:article_list' %}">
            <i class="bi bi-file-text navicon"></i> 
            Blog
          </a>
        </li>
        <li>
          <a href="/#about" class="{% if '/#about' == request.path %} active {% endif %}">
            <i class="bi bi-person navicon"></i> 
            About
          </a>
        </li>
        <li>
          <a href="/#skills" class="{% if '/#skills' == request.path %} active {% endif %}">
            <i class="bi bi-tools navicon"></i> 
            Skills
          </a>
        </li>
        <li>
          <a href="/#resume" class="{% if '/#resume' == request.path %} active {% endif %}">
            <i class="bi bi-file-earmark-text navicon"></i> 
            Resume
          </a>
        </li>
        <li>
          <a href="/#portfolio" class="{% if '/#portfolio' == request.path %} active {% endif %}">
            <i class="bi bi-braces navicon"></i> 
            Projects
          </a>
        </li>

        
      </ul>
    </nav>

  </header>

  <main class="main">

    
    {% block content %}
        
    {% endblock content %}
        

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">arashPQ</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">

        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
  
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <script src="{% static 'js/main.js' %}"></script>


  
  {% block scripts %}
    
  {% endblock scripts %}
    

  
</body>


</html>