{% extends 'base.html' %}
{% load static %}


{% block title %}
    All Projects
{% endblock title %}
    
{% block content %}
  <!-- Blog Section Start -->
<section class="portfolio section light-background">
	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
	  <h2>Projects</h2>
	  <p>Here you can see all the projects I have been involved in developing so far.</p>
	</div>

	<div class="container">
	    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

		    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            
		      	{% for project in page_objects %}
		    		<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
		    			<div class="portfolio-content h-100">
		    				<img src="{{ project.first_image.image.url }}" class="img-fluid" alt="" />
		    				<div class="portfolio-info">
		    					<p>{{ project.title }}</p>
		    					<a href="{{ project.first_image.image.url }}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
		    					<a href="{% url 'developer:project_detail' project.id %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
		    				</div>
		    			</div>
		      		</div>
		      	{% endfor %}
		      	<div class="paginator d-flex justify-content-between">
                    {% if page_objects.has_previous %}
                        <div class="d-flex justify-content-start mb-2">
                            <a class="btn btn-primary text-uppercase" href="?page={{ page_objects.previous_page_number }}">
                                <i class="bi bi-arrow-left"></i> 
                                Newer Modified
                            </a>
                        </div>
                    {% endif %}
                    <span class="justify-content mb-2">
                        {{ page_objects.number }} from {{ page_objects.paginator.num_pages }}
                    </span>
                    {% if page_objects.has_next %}
                        <div class="d-flex justify-content-end mb-2">
                            <a class="btn btn-primary text-uppercase" href="?page={{ page_objects.next_page_number }}">
                                Older Modified 
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
		    </div>
	    </div>
	</div>
</section>
{% endblock content %}